body{
    background-color: #232323;
    margin:0;
    font-family: "Montserrat";
}
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.666%;
    border-radius: 15%; /*makes the rounded sqaures*/
    transition: background 0.5s;
}
#container{
    margin: 20px auto; /*centers the group of squares*/
    max-width: 600px; /*makes the squares a little smaller*/
}
h1{
    color:white;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height:1.1;
    padding: 20px 0;
}
#message{
    color: black;
    display: inline-block;
    width: 20%;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}
.selected{
    color:white;
    background: steelblue;
}
#colorDisplay{
    font-size:200%;
}
button{
    border:none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s; /*fading trasition... the number is the seconds */
    outline: none;
}
button:hover{
    color:white;
    background: steelblue;
}